#about-page {
  display: flex;
  justify-content: center;
  gap: 50px;
  color: black;
  padding-top: 150px;
  font-size: 1.5em;
  height: 100vh;
  margin: 10px;
}

#about-note {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
}

#about-p {
  display: grid;
  grid-auto-rows: max-content;
}
#span {
  margin-top: 20px;
}
