#contact-page {
  display: flex;
  justify-content: center;
  background-color: rgb(12, 11, 39);
  color: white;
  gap: 50px;
  padding-top: 50px;
  height: 87.5vh;
}

input {
  margin-bottom: 20px;
}
@media screen and (min-width: 360) and (max-width: 740) {
  #contact-page {
    width: 100%;
  }
}
