#homepage {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 90vh;
}

#intro {
  width: 50%;
  margin: auto 100px;
  align-items: center;
  font-size: 1.2em;
  line-height: 1.1;
}
#stack {
  color: grey;
}

#btn {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-right: 20px;
  width: 50%;
  height: 500px;
  border-radius: 40px;
  background-image: url("../assets/back.jpeg");
}
#photo {
  height: 400px;
  width: 250px;
}
